html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Sans-Serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e9ebee;
  user-select: none;
}
.container {
  width: 575px;
  height: 445px;
  background: #e9ebee;
  position: absolute;
}
.imagem {
  width: 575px;
  height: 400px;
  overflow: hidden;
  position: absolute;
}
.imagem img {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}
.load {
  width: 100%;
  height: 100%;
  background: #e9ebee;
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-image {
  width: 100px;
  height: 100px;
}
.title-image .image {
  margin-left: 10px;
  width: 80px;
  height: 80px;
  margin-top: 10px;
  background-color: #eeeeee;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 20%, #eeeeee 40%);
  animation: image-loading 2s linear infinite;
  background-size: 800px auto;
  border-radius: 50%;
}
@keyframes image-loading {
  0%{
    background-position: -800px;
  }100% {
    background-position: 800px;
  }
}
.title-content {
  width: 300px;
  height: 100px;
}
.title-content .title-content_content {
  width: 280px;
  height: 80px;
  margin-top: 10px;
  margin-left: 10px;
}
.title {
  width: 400px;
  height: 100px;
  display: flex;
}
.line-small {
  width: 100px;
  height: 7px;
  background-color: #eeeeee;
}
.line-medium {
  width: 150px;
  height: 7px;
  background-color: #eeeeee;
}
.line-large-title {
  width: 50px;
  height: 7px;
  background-color: #eeeeee;
}
.line-large-content {
  width: 115%;
  height: 7px;
  background-color: #eeeeee;
}
.line-large-content-last {
  width: 150px;
  height: 7px;
  background-color: #eeeeeee;
}
.line-large {
  width: 100%;
  height: 7px;
  background-color: #eeeeee;
}
[class*="line"] {
  animation: loading 2s linear infinite;
  background: linear-gradient(to right, #eee 8%, #ddd 16%, #eee 30%);
  background-size: 800px auto;
}

@keyframes loading {
  0%{
    background-position: -800px;
  }100% {
    background-position: 800px;
  }
}
.content {
  width: 400px;
  height: 200px;
}
.content .content_content {
  width: 380px;
  margin-left: 10px;
}
.main {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 5px;
}
.reacts {
  width: 100%;
  height: 45px;
  background: #fff;
  position: absolute;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.like {
  height: 30px;
  width: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .2s;
}
.allReacts {
  width: 370px;
  height: 60px;
  background: #fff;
  position: absolute;
  top: -45px;
  opacity: 0;
  visibility: hidden;
  border-radius: 90px;
  z-index: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  cursor: default;
  transition: .2s;
  transition-delay: .5s
}
.like:hover .allReacts {
  opacity: 1;
  visibility: visible;
  top: -52px;
}
.allReacts img {
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: .3s;
  margin: 7px;
}
.allReacts img:hover {
  transform: scale(1.4) translateY(-5px);
}
.spanlike p {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background: black;
  color: white;
  transition: .3s;
  top: -47px;
  left: 20px;
  font-size: 13px;
  padding: 1px 4px 1px 4px;
  text-align: center;
  border-radius: 17px;
}
.spanlike:hover p {
  opacity: 1;
  visibility: visible;
  z-index: 4;
}
.spanAmei p {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background: black;
  color: white;
  transition: .3s;
  top: -47px;
  left: 78px;
  font-size: 13px;
  padding: 1px 4px 1px 4px;
  text-align: center;
  border-radius: 17px;
}
.spanAmei:hover p {
  opacity: 1;
  visibility: visible;
  z-index: 4;
}
.spanHaha p {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background: black;
  color: white;
  transition: .3s;
  top: -47px;
  left: 137px;
  font-size: 13px;
  padding: 1px 4px 1px 4px;
  text-align: center;
  border-radius: 17px;
}
.spanHaha:hover p {
  opacity: 1;
  visibility: visible;
  z-index: 4;
}
.spanUau p {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background: black;
  color: white;
  transition: .3s;
  top: -47px;
  left: 195px;
  font-size: 13px;
  padding: 1px 4px 1px 4px;
  text-align: center;
  border-radius: 17px;
}
.spanUau:hover p {
  opacity: 1;
  visibility: visible;
  z-index: 4;
}
.spanSad p {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background: black;
  color: white;
  transition: .3s;
  top: -47px;
  left: 258px;
  font-size: 13px;
  padding: 1px 4px 1px 4px;
  text-align: center;
  border-radius: 17px;
}
.spanSad:hover p {
  opacity: 1;
  visibility: visible;
  z-index: 4;
}
.spanGrr p {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background: black;
  color: white;
  transition: .3s;
  top: -47px;
  left: 309px;
  font-size: 13px;
  padding: 1px 4px 1px 4px;
  text-align: center;
  border-radius: 17px;
}
.spanGrr:hover p {
  opacity: 1;
  visibility: visible;
  z-index: 4;
}
#likebutton {
  width: 20px;
  height: 20px;
  padding-left: 100px;
  padding-right: 130px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
}
.typeReactLike {
  font-family: Helvetica, Sans-Serif;
  color: #616770;
  position: relative;
  margin-left: 40px;
  top: 0px;
  font-weight: 600;
}
.likes_quant {
  width: 100%;
  background: #fff;
  height: 31px;
  position: relative;
  top: 399px;
  display: none;
  flex-direction: row;
  align-items: center;
  transition-delay: 10s;
}
.reactions_like img {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}
.reactions_like p {
  position: absolute;
  left: 35px;
  top: -7px;
  text-align: center;
  color: #606770;
  font-size: 14px;
}
.git {
  width: 54px;
  height: 54px;
  position: fixed;
  top: 83%;
  left: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.git i {
  font-size: 55px;
  color: #24292e;
}
.git p {
  color: #24292e;
  font-size: 13px;
  position: absolute;
  top: 38px;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease;
}
.git:hover p {
  opacity: 1;
  visibility: visible;
  top: 45px;
}
.hiddenImg{
  display: none;
}
